{% extends "portfolio-base.html" %}

{% load static %}

{% block title %}
Portfolio - About
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center">About</h1>
<hr class="bg-gray-200 h-1 my-8">
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, dolor. Modi dolore dignissimos, non enim voluptatum illo eius laborum quam magni architecto sunt quae sequi. Sint quia vel tempora ut.
</p>
<br>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, sapiente. Dignissimos harum vero similique totam voluptatem numquam quod, quibusdam maiores deserunt veniam a libero, corporis quasi nihil! Minus, voluptate doloribus?
</p>
{% endblock %}