{% extends "webhome_base.html" %}
{% block title %}
HOME
{% endblock %}
{% block content %}
<h1>Bienvenidos al sitio Conectados!!!</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi iusto excepturi officia obcaecati recusandae quam in placeat esse eum! Rem perferendis, eos facilis minima ratione quisquam illum vitae error animi?
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est modi sit eos pariatur suscipit, laboriosam repellendus amet at explicabo illum, voluptates voluptatum delectus eum quas aliquid cumque fugit harum.
</p>
{% endblock %}