{% extends "blog_base.html" %}
{% block title %}
Blog
{% endblock %}
{% block content %}
<h1>Blog</h1>
<ul>
    <li>
        <h1>Publicacion 1</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus itaque, aliquid obcaecati accusantium odit nesciunt, modi laborum minima voluptatum aut nihil sapiente quas assumenda blanditiis atque pariatur officia inventore quidem.</p>
        <a href="/blog/post-1">Ver mas</a>
    </li>
    <li>
        <h1>Publicacion 2</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus itaque, aliquid obcaecati accusantium odit nesciunt, modi laborum minima voluptatum aut nihil sapiente quas assumenda blanditiis atque pariatur officia inventore quidem.</p>
        <a href="/blog/post-2">Ver mas</a>
    </li>
</ul>
{% endblock %}