{% extends "blog_base.html" %}
{% block title %}
Publicacion 2
{% endblock %}
{% block content %}
<h1>Publicacion 2</h1>
<br>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque a ducimus accusantium enim quo sint minus inventore at, beatae ullam ratione, officiis vel dolores hic. Hic nulla laudantium molestias eum?
</p>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ducimus quia, pariatur dolor illum iure aperiam ipsum quod cum praesentium totam, at quo ipsam, corrupti nihil qui facilis! Eligendi, totam.
</p>
{% endblock %}